<div class:list={["my-6", "flex", "justify-center"]}>
    <img
        src="/img/kotlin.jpg" alt="El gato se llama Kotlin"
        class:list={[
            "max-w-full",
            "rounded-md",
            "border",
            "border-gray-300",
            "dark:border-gray-700",
            "shadow-sm",
        ]}
    />
</div>
