/* File: src/styles/utilities/bg-colors.css
 *
 * Utility classes for background colors based on the primary color scale.
 * These classes use CSS custom properties (HSL values) defined in theme.css.
 *
 * The primary color is split into a scale with darker and lighter variants to provide visual
 * hierarchy, hover/focus effects, and contrast in UI elements.
 */

@layer utilities {
  /* Base primary background color */
  .bg-primary {
    background-color: var(--theme-color-primary);
  }

  /* #region Darker variants of the primary color for contrast or hover effects */
  .bg-primary-dark {
    background-color: var(--theme-color-primary-dark);
  }

  .bg-primary-darker {
    background-color: var(--theme-color-primary-darker);
  }

  .bg-primary-darkest {
    background-color: var(--theme-color-primary-darkest)
  }
  /* #endregion */

  /* #region Lighter variants of the primary color for accents or highlights */
  .bg-primary-light {
    background-color: var(--theme-color-primary-light);
  }
  .bg-primary-lighter {
    background-color: var(--theme-color-primary-lighter);
  }
  .bg-primary-lightest {
    background-color: var(--theme-color-primary-lightest);
  }
  /* #endregion */
}
