---
import { Note } from "~/components/ui/callouts";
import { Link } from "~/components/ui/links";
---

<Note>
  <span slot="title">Repositorio de IntelliJ IDEA Community</span>
  
  El código fuente está disponible públicamente:
  <Link href="https://github.com/JetBrains/intellij-community">
    intellij-community
  </Link>.
</Note>
