---
import {
  Tooltip,
  TooltipContent,
  TooltipTrigger,
} from "~/components/starwind/tooltip";
---

<Tooltip>
  <TooltipTrigger>
    <span style="text-decoration: underline; cursor: help;">.NET</span>
  </TooltipTrigger>
  <TooltipContent>
    <p>
      .NET: plataforma de ejecución y framework que soporta lenguajes como C#,
      F#, y Visual Basic.
    </p>
    <p>
      Una biblioteca "para .NET" puede usarse en cualquiera de estos lenguajes,
      siempre que se ejecute sobre el mismo runtime.
    </p>
  </TooltipContent>
</Tooltip>
