---
import { Tooltip, TooltipContent, TooltipTrigger } from "~/components/starwind/tooltip";
---

<Tooltip>
    <TooltipTrigger>
        <span style="text-decoration: underline; cursor: help">JVM</span>
    </TooltipTrigger>
    <TooltipContent>
        <p>
            Java Virtual Machine: plataforma de ejecución para lenguajes como Java, Kotlin o Scala.
        </p>
        <p>Una biblioteca "para la JVM" puede usarse en cualquiera de ellos.</p>
    </TooltipContent>
</Tooltip>
