---
import {
  Tooltip,
  TooltipContent,
  TooltipTrigger,
} from "~/components/starwind/tooltip";
---

<Tooltip>
  <TooltipTrigger>
    <span style="text-decoration: underline; cursor: help;">bajo nivel</span>
  </TooltipTrigger>
  <TooltipContent>
    <p>
      En computación, <strong>bajo nivel</strong> hace referencia a lenguajes y proyectos
      que trabajan más cerca del hardware, como <em>C</em> o <em>C++</em>.
    </p>
    <p>
      Los <strong>build systems</strong> como <em>Make</em> o <em>CMake</em> son
      habituales en este contexto porque permiten compilar, enlazar y gestionar dependencias
      en proyectos de sistemas, bibliotecas nativas o software multiplataforma.
    </p>
  </TooltipContent>
</Tooltip>
