---
import Tip from "~/components/ui/callouts/Tip.astro";
---

<Tip>
  <span slot="title">¿Prefieres algo más ligero?</span>
  <strong>Fleet</strong> es una alternativa más rápida y minimalista, ideal para
  proyectos pequeños. También puedes instalarla desde JetBrains Toolbox.
</Tip>
