---
import CodeBlock from "../CodeBlock.astro";

type Props = {
    code: string;
    lang?: string;
};

const { code, lang = "text" }: Props = Astro.props;
---

<CodeBlock
    {code} {lang}
    class="bg-base-200 dark:bg-surface-700 border-base-border/30"
>
    <span slot="title">
        <slot name="title">Output</slot>
    </span>
    <span slot="footer">
        <slot name="footer" />
    </span>
</CodeBlock>
