---
import ToDo from '~/components/utils/ToDo.tsx';
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'DIBS';
---

<BaseLayout pageTitle={title}>
  <h2>Dise침o e Implementaci칩n de Bibliotecas de Software</h2>

  <ToDo
    metadata={{
      title,
      description: 'P치gina de inicio del curso DIBS',
      tasks: ['Tarjetas de presentaci칩n del curso'],
    }}
  />
</BaseLayout>
