---
import ThemeSwitcher from '~/components/ui/theme/ThemeSwitcher';
import HeaderNav from './nav/HeaderNav';
import GitLabLink from './GitLabLink.astro';
---

<header class="header-bar">
  <nav class="header-nav" role="navigation">
    <div class="flex items-center space-x-6">
      <a href="/" class="header-brand">DIBS</a>
      <HeaderNav client:load />
    </div>

    <div class="flex items-center gap-4">
      <ThemeSwitcher client:load />
      <GitLabLink username="r8vnhill" repo="dibs-astro" />
      <a href="…" class="nav-link">github</a>
    </div>
  </nav>
</header>
