---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div"> & Record<string, any>;

const { class: className = "", ...rest } = Astro.props as Props;
---

<div class:list={["exclude-from-reading-time", className]} {...rest}>
  <slot />
</div>
