---
import Header from '$components/header/Header.astro';
import Footer from '$components/Footer.astro';
import Head from '$components/meta/Head.astro';
import '$styles/global.css';

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <script>
      import * as utils from '~/utils';

      (function () {
        const theme = localStorage.theme;
        const isDark =
          theme === utils.theme.DARK || (theme === utils.theme.AUTO && utils.isDarkModePreferred());
        document.documentElement.classList.toggle(utils.theme.DARK, isDark);
      })();
    </script>
    <Head title={pageTitle} />
  </head>
  <body class="bg-base-background text-base-text">
    <Header />

    <main class="mx-auto max-w-prose px-4">
      <h1>{pageTitle}</h1>

      <slot />
    </main>

    <Footer />
  </body>
</html>
