---
import Heading from "~/components/semantics/Heading.astro";
import * as Icons from "~/assets/img/icons";
import List from "~/components/ui/list/List.astro";
---

<section title="Conclusiones">
  <Heading headingLevel="h2" Icon={Icons.SealCheck}>Conclusiones</Heading>

  <slot name="conclusions" />

  <section title="Puntos clave">
    <Heading headingLevel="h3" Icon={Icons.PushPin}>Puntos clave</Heading>
    <List>
      <slot name="key-points" />
    </List>
  </section>

  <section title="¿Qué nos llevamos?">
    <Heading headingLevel="h3" Icon={Icons.Toolbox}>¿Qué nos llevamos?</Heading>

    <slot name="takeaways" />
  </section>
</section>
