---
import BaseLayout from "~/layouts/BaseLayout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<BaseLayout pageTitle={title}>
  <h1>{title}</h1>

  <slot />
</BaseLayout>
