---
import type { HTMLAttributes } from "astro/types";
import type { HeadingLevel } from "~/utils";

type Props = {
    headingLevel?: HeadingLevel;
} & HTMLAttributes<"div">;

const { id = undefined, ...rest }: Props = Astro.props;

const resolvedId = id || `notes-section-${crypto.randomUUID()}`;
---

<div id={resolvedId} {...rest}>
    <slot name="heading" />
    <slot />
</div>
