---
type Props = {
    href: string;
    content?: string;
    class?: string;
};

const { href, content, class: className } = Astro.props;
---

<a
    {href} target="_blank"
    rel="noopener noreferrer" class={className}
>
    <slot>{content}</slot>
</a>
