---
import * as icons from "~/assets/img/icons";
import { Enquote, Heading, P } from "~/components/semantics";
import { Abstract } from "~/components/ui/callouts";
import { List, ListItem } from "~/components/ui/list";
import NotesLayout from "~/layouts/NotesLayout.astro";
import NotesSection from "~/layouts/NotesSection.astro";
---

<NotesLayout
    title="Patrones básicos de scripting"
    description="Patrones básicos de scripting en PowerShell: -WhatIf/-Confirm, foreach vs ForEach-Object, regex y rutas portables. Diseña scripts seguros y mantenibles."
    git={{ user: "r8vnhill", repo: "dibs-scripts" }}
>
    <Abstract>
        <P>
            Esta unidad se ha dividido en <strong>sublecciones</strong> para facilitar el estudio. La idea es ir de
            <Enquote>scripts que hacen cosas</Enquote> a <Enquote>herramientas seguras y mantenibles</Enquote>:
            ensayo seguro con <code>-WhatIf</code> / <code>-Confirm</code>, recorrer con <code>foreach</code> y
            normalizar textos con <code>[regex]</code> y <code>[Version]</code>.
        </P>
    </Abstract>

    <NotesSection id="h2-sub-lessons">
        <Heading headingLevel="h2" Icon={icons.List}>
            Sublecciones
        </Heading>

        <List>
            <ListItem icon={icons.ShieldCheck}>
                <a href="/notes/software-libraries/scripting/basic-patterns/should-process/">Ensayo seguro (-WhatIf / -Confirm)</a>
            </ListItem>
            <ListItem icon={icons.ArrowsClockwise}>
                <a href="/notes/software-libraries/scripting/basic-patterns/iteration/">Recorrer y transformar archivos</a>
            </ListItem>
            <ListItem icon={icons.TextT}>
                <a href="/notes/software-libraries/scripting/basic-patterns/regex-and-versions/">Regex, versiones y ejercicio</a>
            </ListItem>
        </List>
    </NotesSection>
</NotesLayout>
